.exception-page
{
	#page,
	#page .content
	{
		height: 100%;
	}

	.left,
	.right
	{
		position: relative;
		float: left;
		width: 50%;
		height: 100%;
		overflow: auto;

		@include box-sizing(border-box);

		&.full
		{
			float: none;
			margin: 0 auto;
		}
	}

	/**
	 * Import exception component styles
	 */
	
	@import "exception/traceback";
	@import "exception/details";
	@import "exception/file-preview";
}