[submodule "js/third-party/google-closure"]
	path = js/third-party/google-closure
	url = git@github.com:google/closure-library.git
[submodule "php/Fewlines"]
	path = php/Fewlines
	url = git@github.com:fewlines/fewlines-php.git
